*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(143, 241, 241);
    text-align: center;
}
.conatiner{
    max-width: 500px;
    margin: 100px 400px;
    background-color: beige;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
h1{
     text-decoration: underline;
     margin-bottom: 20px;
     
    
}
.counter_display{
    font-size:50px;
    margin-bottom: 10px;
}
.btn{
    border: none;
    background-color: rgb(84, 84, 202);
    padding: 10px 20px;
    font-size: large;
    color: aliceblue;
    border-radius: 5px;
}
#reset_btn{
    border: none;
    background-color: rgb(255, 0, 0);
    padding: 10px 20px;
    font-size: large;
    color: aliceblue;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.btn:hover{
    background-color: rgb(31, 31, 158);
}
#reset_btn:hover{ 
     background-color: rgb(201, 19, 19);
}